*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--color-bg--page);
  color: var(--color-text);
  min-height: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
object,
video,
audio {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

::selection {
  background: var(--color-bg--selection);
}

template {
  display: none;
}
