<f:comment><!--
    @param object form          The entire form object provided by the form framework
    @param array elements       The form fields stored by their input-names. <input name="firstname"/> = {elements.firstname}
--></f:comment>


<f:render partial="FormFramework/Text" arguments="{element: elements.name}" />
<f:render partial="FormFramework/Text" arguments="{element: elements.email}"/>
<f:render partial="FormFramework/Textarea" arguments="{element: elements.message}"/>
<f:render partial="FormFramework/SingleSelect" arguments="{element: elements.choice}" />


<f:render partial="Form/Navigation" arguments="{form: form}" />
