{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace n=Tollwerk\TwNueww\ViewHelpers}
<f:comment><!--

    @param string headline-prio    Headline Priority Number (1-4)
    @param string title          Headline text
    @param string publDt        Date object of Publish date
    @param string publDtFormat Date object of Publish date
    @param string teaser         Short text to summarize the content
    @param string content        Content

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">

<v:variable.set name="isoDate" value="{f:translate(key: 'dateiso')}"/>

<article itemscope itemType="http://schema.org/Article" class="nueww-article">
  <header class="nueww-card">
    <div class="nueww-card__heading">
      <div class="nueww-layout-split">
        <div>
          <time datetime="{article.releaseDate -> f:format.date(format: '{isoDate}')}" class="nueww-card__date">
            <f:format.date format="{f:translate(key: 'date')}">{article.releaseDate}</f:format.date>
          </time>

          <span class="nueww-typo-small">
            {article.persons.0.firstName} {article.persons.0.lastName}
          </span>
        </div>

        <div class="nueww-typo-small">
          powered by SPONSOR
        </div>
      </div>

      <n:h1 start="{headingLevel}" additionalAttributes="{itemprop: 'headline'}" class="nueww-card__title">{article.title}</n:h1>
    </div>
  </header>

  <f:if condition="{article.images}">
    <div class="nueww-card">
      <figure class="nueww-card__image">
        <f:image image="{article.images.0}" alt="" />

        <f:if condition="{article.images}">
        </f:if>

        <figcaption>{article.images.0.description}</figcaption>
      </figure>
    </div>
  </f:if>

  <f:if condition="{article.bodyText}">
    <div class="nueww-card">
      <div class="nueww-card__section">
        <f:if condition="{article.teaserText}">
          <div itemprop="description" class="nueww-article__teaser">
            {article.teaserText}
          </div>
        </f:if>

        <div class="nueww-article__content">
          {article.bodyText -> f:format.html()}
        </div>
      </div>
    </div>
  </f:if>
</article>

</html>
