<f:comment><!--

    @param string headline-prio    Headline Priority Number (1-4)
    @param string title          Headline text
    @param string publDt        Date object of Publish date
    @param string publDtFormat Date object of Publish date
    @param string teaser         Short text to summarize the content
    @param string href           Target of the link
    @param string content        Content

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
<article itemscope itemType="http://schema.org/Article" class="nueww-article">
  <f:if condition="{href}">
    <a href="{href}">
  </f:if>
  <header>
    <time datetime="{publDt -> f:format.date(format: 'c')}" class="nueww-article__date">{publDt -> f:format.date(format: publDtFormat)}</time>

    <h{headline-prio} itemprop="headline" class="nueww-article__title">
      {title}
    </h{headline-prio}>

    <f:if condition="{teaser}">
      <div itemprop="description" class="nueww-article__teaser">
        {teaser}
      </div>
    </f:if>
  </header>

  <f:if condition="{content}">
    {content}
  </f:if>

  <f:if condition="{href}">
    </a>
  </f:if>
</article>
</html>
