{namespace n=Tollwerk\TwNueww\ViewHelpers}
<f:comment><!--

    @param string headline-prio    Headline Priority Number (1-4)
    @param string title          Headline text
    @param string publDt        Date object of Publish date
    @param string publDtFormat Date object of Publish date
    @param string teaser         Short text to summarize the content
    @param string content        Content

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
<article itemscope itemType="http://schema.org/Article" class="nueww-article">
  <header>
    <time datetime="{publDt -> f:format.date(format: 'c')}" class="nueww-article__date">{publDt -> f:format.date(format: publDtFormat)}</time>

    <n:h1 start="{headline-prio}" additionalAttributes="{itemprop: 'headline'}" class="nueww-article__title">{title}</n:h1>

    <f:if condition="{teaser}">
      <div itemprop="description" class="nueww-article__teaser">
        {teaser}
      </div>
    </f:if>
  </header>

  <f:if condition="{content}">
    <div class="nueww-article__content">
      {content}
    </div>
  </f:if>
</article>
</html>
