{namespace n=Tollwerk\TwNueww\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
    <formvh:renderRenderable renderable="{page}">
        <v:variable.set name="elements" value="{n:form.fieldsByName(elements: page.elements)}"/>

        <f:render partial="Field" arguments="{element: elements.name}"/>
        <f:render partial="Field" arguments="{element: elements.email}"/>
        <f:render partial="Field" arguments="{element: elements.message}"/>
    </formvh:renderRenderable>
</html>
