:root {
  /* Border radius */
  --border-radius--button: 2.5rem;
  --border-radius--input: 4px;

  /* Spacing */
  --layout-spacing: 24px;
  --layout-spacing--micro: calc(var(--layout-spacing) / 6);                                    /* 4px */
  --layout-spacing--xtiny: calc(var(--layout-spacing) / 4);                                    /* 6px */
  --layout-spacing--tiny: calc(var(--layout-spacing) / 3);                                     /* 8px */
  --layout-spacing--xsmall: calc(var(--layout-spacing) / 2);                                   /* 12px */
  --layout-spacing--small: calc(var(--layout-spacing--tiny) * 2);                              /* 16px */
  --layout-spacing--medium: calc(var(--layout-spacing--xsmall) * 3);                           /* 36px */
  --layout-spacing--large: calc(var(--layout-spacing) * 2);                                    /* 48px */
  --layout-spacing--xlarge: calc(var(--layout-spacing--large) + var(--layout-spacing--small)); /* 64px */
}
