<f:comment><!--

    @param string label         Text label on the button
    @param string type          Button type, if button element
    @param string href          URL, if link element
    @param string target        Target, if link element
    @param string icon          Icon template file basename, if applicable

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{href}">
  <f:then>
    <f:render section="Link" arguments="{_all}"/>
  </f:then>
  <f:else>
    <f:render section="Button" arguments="{_all}"/>
  </f:else>
</f:if>

<f:section name="Link">
  <a class="nueww-button" {f:if(condition:
  '{target}', then: ' target="{target}" rel="nofollow noopener"')}>
  <f:render section="Label" arguments="{_all}"/>
  </a>
</f:section>

<f:section name="Button">
  <button class="nueww-button" {f:if(condition:
  '{type}', then: ' type="{type}"', else: ' type="button"')}>
  <f:render section="Label" arguments="{_all}"/>
  </button>
</f:section>

<f:section name="Label">
  <f:if condition="{icon}">
    <f:render partial="Icons/{icon}.svg"/>
  </f:if>
  {label}
</f:section>

</html>

