<f:comment><!--

    @param string label         Text label on the button
    @param string type          Button type, if button element
    @param string href          URL, if link element
    @param string target        Target, if link element
    @param string icon          Icon template file basename, if applicable

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{href}">
    <f:then>
        <a class="nueww-button" {f:if(condition:
        '{target}', then: ' target="{target}" rel="nofollow noopener"')}>
    </f:then>
    <f:else>
        <button class="nueww-button" {f:if(condition:
        '{type}', then: ' type="{type}"', else: ' type="button"')}>
    </f:else>
</f:if>
<f:if condition="{icon}">
    <f:render partial="Icons/Star.svg"/>
</f:if>
{label}
<f:if condition="{href}">
    <f:then>
        </a>
    </f:then>
    <f:else>
        </button>
    </f:else>
</f:if>
</html>
