html {
  height: 100%;

  &::before {
    content: 'Breakpoint';
    display: block;
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 10000;

    border-radius: 2rem;
    background: #eee;
    will-change: transition;
    transition: 100ms background;
    padding: .125rem .75rem;

    font-family: 'Open Sans', Arial;
    font-size: .75rem;
    color: rgba(0, 0, 0, .8);

    @media (--breakpoint--small) {
      content: 'small';
      background: #FFEE58;
    }

    @media (--breakpoint--medium) {
      content: 'medium';
      color: rgba(255, 255, 255, .8);
      background: #FFA726;
    }

    @media (--breakpoint--large) {
      content: 'large';
      background: #FF5722;
    }

    @media (--breakpoint--xlarge) {
      content: 'xlarge';
      background: #E53935;
    }
  }
}

body {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACJJREFUeNpi/P//PwNu8OzZMyYGQmBUBSpgAYYafhUAAQYAWfQIecLYM/EAAAAASUVORK5CYII=');
  border: 10px solid rgba(0, 0, 0, .05);
  height: 100%;
}
