.nueww-input-singleline {
  @mixin input-groups;

  &__label {
    @mixin labels;
  }

  &__label--is-hidden {
    @mixin labels--hidden;
  }

  &__input {
    @mixin inputs;
  }

  &__label,
  &__input {
    display: inline-block;
    vertical-align: top;
  }

  &__required {
    vertical-align: top;
  }
}
