.color-swatches {
  list-style-type: none;

  & li {
    margin-bottom: 1em;
    display: inline-block;
    width: 24em;
  }

  &, & figure, & dl {
    margin: 0;
    padding: 0;
  }

  & figure {
    display: flex;
  }

  & div {
    border: 1px solid #ccc;
    height: 3em;
    width: 3em;
  }

  & dl {
    margin-left: 1em;
    white-space: nowrap;
    font-family: monospace;
  }

  & dt {
    float: left;
    clear: left;
    width: 6em;
  }

  & dd {
    margin-left: 6em;
  }
}

