<html data-namespace-typo3-fluid="true">
    <h1>Colors</h1>

    <section>
        <h2>Background colors</h2>
        <ul class="color-swatches">
            <li></li>
        </ul>
    </section>

    <section>
        <h2>Text colors</h2>
        <figure>
            <div></div>
            <figcaption>#00000</figcaption>
        </figure>
    </section>

    <section>
        <h2>Button colors (default)</h2>
        <figure>
            <div></div>
            <figcaption>#00000</figcaption>
        </figure>
    </section>

    <section>
        <h2>Button colors (primary)</h2>
        <figure>
            <div></div>
            <figcaption>#00000</figcaption>
        </figure>
    </section>

    <section>
        <h2>Form element colors</h2>
        <figure>
            <div></div>
            <figcaption>#00000</figcaption>
        </figure>
    </section>

    <section>
        <h2>Status colors</h2>
        <figure>
            <div></div>
            <figcaption>#00000</figcaption>
        </figure>
    </section>
</html>