<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">


	<f:form.validationResults for="{element.identifier}">
		<v:variable.set name="arguments" value="{errors: validationResults.errors.0, name: element.identifier, id: element.uniqueIdentifier, class: element.properties.elementClassAttribute}"/>
		<f:render partial="Components/InputSingleline/Template" section="Wrap" contentAs="elementContent" arguments="{arguments}">
			<f:render partial="Field/Field" arguments="{validationResults: validationResults, labelPartial: 'Components/InputSingleline/Template', element: element}" contentAs="elementContent">
				<f:form.textfield
					property="{element.identifier}"
					id="{element.uniqueIdentifier}"
					class="{element.properties.elementClassAttribute} form-control"
					errorClass="{element.properties.elementErrorClassAttribute}"
					additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
				/>
			</f:render>
		</f:render>
	</f:form.validationResults>



</formvh:renderRenderable>
</html>
