<f:comment><!--

    @param string label         Label value
    @param boolean labelHidden  Should the label be hidden?
    @param string name          Input name
    @param string value         Input value, if already set
    @param string placeholder   Placeholder text, if needed
    @param boolean required     required
    @param boolean disabled     disabled
    @param boolean readonly     readonly

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
{v:random.number(minimum: 1000000, maximum: 9999999, minimumDecimals: 0, maximumDecimals: 0) -> f:variable(name:
'uuid')}
<div class="nueww-input-multiline
  {f:if(condition: '{name}', then: 'nueww-input-multiline--{name}')}
  {f:if(condition: '{required}', then: 'nueww-input-multiline--required')}
  {f:if(condition: '{labelHidden}', then: 'nueww-input-multiline--label-is-hidden')}
nueww-input-multiline-group
nueww-input-multiline-group--input">
  <label for="nueww-input-multiline-{uuid}"
         class="nueww-input-multiline__label{f:if(condition: '{labelHidden}', then: ' nueww-input-multiline__label--is-hidden')}">
    <f:format.raw>{label}</f:format.raw>
    <f:if condition="{required}">
      <abbr class="nueww-input-multiline__required" title="Dieses Eingabefeld ist erforderlich">*</abbr>
    </f:if>
    :</label>
  <input id="nueww-input-multiline-{uuid}"
         class="nueww-input-multiline__input"
         {f:if(condition: '{name}', then: ' name="{name}"')}
  {f:if(condition: '{type}', then: ' type="{type}"')}
  {f:if(condition: '{value}', then: ' value="{value}"')}
  {f:if(condition: '{placeholder}', then: ' placeholder="{placeholder}"')}
  {f:if(condition: '{autocomplete}', then: ' autocomplete="{autocomplete}"')}
  {f:if(condition: '{required}', then: ' required')}
  {f:if(condition: '{disabled}', then: ' disabled')}
  {f:if(condition: '{readonly}', then: ' readonly')}
  >
</div>
</html>
